# Core dependencies
python>=3.9

# PDF processing
pypdf==3.9.1

# Web framework
streamlit==1.27.2

# Data processing
pandas==2.1.4
numpy==1.26.0

# AI & LLM
langchain==0.1.0
langchain_groq==0.0.7
langchain_openai==0.0.6



# Environment variables
python-dotenv==1.0.1

# Regular Expressions
regex==2023.12.25